{% extends "base.html" %}
{% block content %}

<!--main-->
<div class="container" id="main">
  {% for image in album %}
    {% set url_raw = url_for("routes.paste_view", _type="i", uid=image['uid'], extension=image['extension']) %}
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body paste-body">
              <div class="imgg">
                <a href="{{ url_raw }}" target="_blank">
                  <img src="{{url_raw}}"/>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
    <div class="clearfix"></div>

    {% include 'footer.html' %}

  <!--/main-->
  {% endblock %}